[user]
	email = hello@haseebmajid.dev
	name = Haseeb Majid
	signingkey = A236785D59F190761E9CE8EC78283DB3D233E1F9
[includeIf "gitdir:/Users/"]
        path = .gitconfig.mac
[core]
        editor = vim
        pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
        diffFilter = diff-so-fancy --patch
[color]
        ui = true
[color "diff-highlight"]
        oldNormal = red bold
        oldHighlight = red bold 52
        newNormal = green bold
        newHighlight = green bold 22
[color "diff"]
        meta = 11
        frag = magenta bold
        func = 146 bold
        commit = yellow bold
        old = red bold
        new = green bold
        whitespace = red reverse
[pull]
	ff = only
[push]
	default = current
	autoSetupRemote = true
[init]
	defaultBranch = main
[gpg]
	format = ssh
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
# This next lines include Netlify's Git Credential Helper configuration in your Git configuration.
[include]
        path = /home/haseeb/.config/netlify/helper/git-config
