# direnv
.direnv
.env

# git worktrees
.worktrees

# pre-commit
.pre-commit-config.yaml

result

# Terraform/OpenTofu
# Local .terraform directories
**/.terraform/*
**/.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# OpenTofu specific
.tofu
*.tofu

terraform.tfvars
# Terraform
*.tfvars
*.tfvars.json
