[user]
	email = hello@haseebmajid.dev
	name = Haseeb Majid
	signingkey = A236785D59F190761E9CE8EC78283DB3D233E1F9
[includeIf "gitdir:/Users/"]
  path = .gitconfig.mac
[core]
  editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[color]
  ui = true
[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  side-by-side = true
[diff]
  colorMoved = default
[merge]
    conflictstyle = diff3
[pull]
	ff = only
[push]
	default = current
	autoSetupRemote = true
[init]
	defaultBranch = main
[gpg]
	format = ssh
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
# This next lines include Netlify's Git Credential Helper configuration in your Git configuration.
[include]
  path = /home/haseeb/.config/netlify/helper/git-config
