openbao_address = "https://openbao.homelab.haseebmajid.dev"
openbao_token = "your-terraform-token"

postgres_terraform_password = "password-from-sops"
terraform_user_password = "existing-terraform-user-password"

kubernetes_host = ""
