openbao_address = "https://openbao.homelab.haseebmajid.dev"
openbao_token = "your-terraform-token"

postgres_terraform_password = "password-from-sops"
terraform_user_password = "existing-terraform-user-password"

kubernetes_host = ""

# Gitlab
access_token = ""
remote_state_address = ""
username = ""

# Authentik
authentik_url = "https://authentik.haseebmajid.dev"
authentik_token = "your-authentik-api-token"
authentik_domain = "authentik.haseebmajid.dev"
