theme "catppuccin-mocha"
default_layout "zjstatus"
pane_frames false
default_shell "fish"

keybinds {
    unbind "Ctrl h"
    normal {
        bind "Alt n" { NewPane; }
        bind "Alt h" { Resize "Left"; }
        bind "Alt l" { Resize "Right"; }
        bind "Alt j" { Resize "Down"; }
        bind "Alt k" { Resize "Up"; }
    }
    shared {
        bind "Ctrl f" { SwitchToMode "search"; }
        bind "Ctrl n" { SwitchToMode "move"; }
        bind "Ctrl x" { SwitchToMode "session"; }
        bind "Ctrl h" { MoveFocusOrTab "Left"; }
        bind "Ctrl l" { MoveFocusOrTab "Right"; }
        bind "Ctrl j" { MoveFocus "Down"; }
        bind "Ctrl k" { MoveFocus "Up"; }
    }
}
